<html>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const rad2deg = (val) => {
            return Math.round(val * 180 / Math.PI);
        }
        const onMessage = (event) => {

            data = JSON.parse(event.data);

            document.getElementById("error").innerHTML = data.error;

            if (data.V > 11.4) {
                document.getElementById("voltage").innerHTML = data.V;
            }
            else {
                document.getElementById("voltage").innerHTML = data.V;
            }

            document.getElementById("kp").innerHTML = data.kp;
            document.getElementById("kd").innerHTML = data.kd;
            document.getElementById("ki").innerHTML = data.ki;

            document.getElementById("ep").innerHTML = rad2deg(data.e);
            document.getElementById("ed").innerHTML = rad2deg(data.de);
            document.getElementById("ei").innerHTML = rad2deg(data.ie);

            document.getElementById("vel_left").innerHTML = data.vl;
            document.getElementById("vel_right").innerHTML = data.vr;
        }
        function onLoad() {
            var wsUri = "ws://192.168.123.122:8080/ws";
            websocket = new WebSocket(wsUri);
            websocket.onopen = function(evt) { console.log("WS open"); };
            websocket.onclose = function(evt) { console.log("WS closed"); };
            websocket.onerror = function(evt) { console.log(evt) };
            websocket.onmessage = function(evt) { onMessage(evt) };
        }

        const updateParams = () => {

            axios.post('/set_params', {
                kp : document.getElementById('kp_val').value,
                kd : document.getElementById('kd_val').value,
                ki : document.getElementById('ki_val').value
            })
            .then(function (response) {
                console.log("Request ok");
                console.log(response);
            })
            .catch(function (error) {
                console.log("Request error");
                console.log(error);
            })
            .then(function () {
                console.log("Something happened here");
            });

        }
    </script>
    <body onload="onLoad()">
        <h1 id="error" style="color:red; text-align:center"></h1>
        <center>
            <table border="1">
                <tr>
                    <td colspan="2" ><b>Voltage:</b></td>
                    <td colspan="2" ><p id="voltage"></p></td>
                </tr>
                <tr>
                    <td colspan="4"><center><b>Data</b></center></td>
                </tr>
                <tr>
                    <td><b></b></td>
                    <td><b>P</b></td>
                    <td><b>D</b></td>
                    <td><b>I</b></td>
                </tr>
                <tr>
                    <td><b>Error</b></td>
                    <td ><p  id="ep"></p></td>
                    <td ><p  id="ed"></p></td>
                    <td ><p  id="ei"></p></td>
                </tr>
                <tr>
                    <td colspan="4"><center><b>Outputs</b></center></td>
                </tr>
                <tr>
                    <td colspan="2"><b>Left Speed</b></td>
                    <td colspan="2"><b>Right Speed</b></td>
                </tr>
                <tr>
                    <td colspan="2" ><p  id="vel_left"></p></td>
                    <td colspan="2" ><p  id="vel_right"></p></td>
                </tr>
            </table>

            <form>
                <table>
                    <tr>
                        <td></td>
                        <td>kP</td>
                        <td>kD</td>
                        <td>kI</td>
                    </tr>
                    <tr>
                        <td><b>Curret</b></td>
                        <td ><p id="kp"></p></td>
                        <td ><p id="kd"></p></td>
                        <td ><p id="ki"></p></td>
                    </tr>
                    <tr>
                        <td><b>Requested</b></td>
                        <td><input type="text" id="kp_val" name="kp_val" size="3" /></td>
                        <td><input type="text" id="kd_val" name="kd_val" size="3" /></td>
                        <td><input type="text" id="ki_val" name="ki_val" size="3" /></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input value="Submit" type="button" onclick="updateParams()">
                            <!-- <input type="submit" value="Post"> -->
                        </td>
                    </tr>
                </table>
            </form>
            <p id="feedback"></p>
        </center>
    </body>
</html>